<h1>Menú matemáticas Controller</h1> <ul>    <li>        @Html.ActionLink("Sumar 5 + 6", "SumarNumerosGet"        , "Matematicas",         new { n1 = 5, n2 = 6})    </li>    <li>        <a asp-controller="Matematicas" asp-action="SumarNumerosPost">Sumar Numeros Post</a>
    </li></ul>
