<h1 style="color:fuchsia">Sumar Numeros Post</h1>

<form method="post">
    <label>Numero 1</label>
    <input type="text" name="n1"
           class="form-control" /><br />
    <label>Numero 2</label>
    <input type="text" name="n2"
           class="form-control" /><br />

    <button class="btn btn-info">
     Sumar numeros
    </button>
</form>
<h1 style="color:red">@ViewData["MENSAJE"]</h1>